.blog {
  color: #ffffff;
  padding-bottom: 50px;
  &__field{
    margin-bottom: 30px;
  }
  &__input {
    width: 100%;
    border-radius: 25px;
    height: 55px;
    padding-left: 15px;
  }
  &__autocomplete {
    width: 100%;
    border-radius: 25px;
    background-color: #ffffff;
    color: #1976d2;
    margin-bottom: 30px;
  }
  &__label {
    display: block;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  &__title {
    font-size: 25px;
    margin-left: 10px;
    text-align: left;
  }
  &__radio {
    padding-left: 20px;
    margin-bottom: 20px;
  }
  &__button-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  &__button {
    width: 100px;
    height: 40px;
    background-color: #ffffff;
    margin-right: 20px;
  }
  &__form {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #1976d2;
    border-radius: 20px;
    padding: 20px;
  }
  &__error {
    color: gold;
    margin-bottom: 20px;
  }
}
